p {
    text-align: justify;
    text-decoration: none;
}

body {
    font-family: helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #3d3d3d;
    background-color: #e1edf2;
    padding: 10px;
}

h2{
    border-bottom: 2px solid #000;
}

figcaption{
    padding-top: 10px;
}

figure{
    margin: 30px;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}
figure img {
    width: 100%;
}
.matriz-musicdot{
    width: 550px;
    align-items: center;
    align-self: last baseline;
}

.familia-tupfeln{
    width: 275px;
    align-items: center;
    align-self: last baseline;
}
.contato{
    color: #3d3d3d;
    background-color: #0e3c50;
    padding: 10px;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    }
button{
    background-color: #0e3c50;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
div{
    margin: 10px;
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.coluna-60 {
    width: 60%;
}
.coluna-40 {
    width:275px;
}
.coluna-50{
    width:50%;
}